<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>

        <rule name="Archivos estaticos" stopProcessing="true">
          <match url="^archivos/.*" />
          <action type="None" />
        </rule>

        <rule name="NextJS" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:5000/{R:1}" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>